In [43]:
# libraries for the project
import pandas as pd
import plotly.express as px
import csv

In [44]:
#number of decimals to keep
NUM_DECIMAL = 2

#header for year
HEADER_YEAR = ['year', 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

#header for state
HEADER_STATE = ['state', 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [45]:
# Read the file
df = pd.read_csv('../data/locations_inspectionscores_forMeri_Nov.csv')
df

,DEVELOPMENT_ID,STATE_NAME.x,STATE_CODE,ZIPCODE,INSPECTION_SCORE,INSPECTION_DATE,in_floodplain,inspection_year,latitude,longitude,distance_to_floodzone,census_code,block_group,county
0,LA130000001,LA,22,70529.0,66,2013-06-24,0.0,2013,30.209690,-92.188164,4027.697205,2.205500e+14,2.205500e+11,22055.0
1,GA006000772,GA,13,30313.0,91,2013-07-26,0.0,2013,33.768801,-84.394130,14019.476350,1.312100e+14,1.312100e+11,13121.0
2,GA006000770,GA,13,30313.0,90,2013-07-25,0.0,2013,33.768715,-84.391929,13980.292353,1.312100e+14,1.312100e+11,13121.0
3,DC001001830,DC,11,20001.0,69,2014-02-26,0.0,2014,38.911414,-77.018939,4330.341296,1.100100e+14,1.100100e+11,11001.0
4,CA019000180,CA,6,92307.0,84,2013-11-19,0.0,2013,34.607368,-117.198397,357766.857100,6.071012e+13,6.071012e+10,6071.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29745,IL049000001,IL,17,62045.0,62,2020-03-10,0.0,2020,39.257750,-90.689377,2055.648906,1.701395e+14,1.701395e+11,17013.0
29746,MA003000307,MA,25,2140.0,74,2020-02-12,0.0,2020,42.394157,-71.131754,103846.939020,2.501735e+14,2.501735e+11,25017.0
29747,NY060000001,NY,36,12010.0,64,2020-03-03,0.0,2020,42.940169,-74.196023,10140.601480,3.605707e+14,3.605707e+11,36057.0
29748,OH001000236,OH,39,43203.0,92,2020-02-26,0.0,2020,39.969279,-82.968560,15940.193150,3.904900e+14,3.904900e+11,39049.0
29749,TX004000021,TX,48,76116.0,78,2020-03-03,0.0,2020,32.733751,-97.454818,81745.462370,4.843911e+14,4.843911e+11,48439.0

In [57]:
#inspection score data
inspection_score = df['inspection_year']

#statistic CSV table -- by year
stat_file = open('../figures/stats_inspection_score_year.csv', 'w') 

stat_writer = csv.writer(stat_file)

stat_writer.writerow(HEADER_YEAR)

41