In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/bestkb/HUD-Public-Housing/yusenp/data/locations_inspectionscores_w_tracts.csv')

In [54]:
df['DEVELOPMENT_ID'].value_counts()

NJ007000007    30
TN001000013    28
IL007000003    27
IL053000007    26
OH018000220    26
               ..
MA003000305     1
MA002130        1
MA002000252     1
LA090009999     1
OH001000236     1
Name: DEVELOPMENT_ID, Length: 7951, dtype: int64

In [55]:
df = df.drop_duplicates(subset='DEVELOPMENT_ID', keep='first')
df

,DEVELOPMENT_ID,DEVELOPMENT_NAME,CBSA_CODE,COUNTY_NAME,COUNTY_CODE,STATE_NAME.x,STATE_CODE,ZIPCODE,LATITUDE,LONGITUDE,PHA_CODE,INSPECTION_SCORE,distance_to_floodzone,in_floodplain,census_code,block_group,county,inspection_year,GEOID
0,LA130000001,Duson Housing Authority,29180.0,Lafayette,55.0,LA,22,70529.0,30.239980,-92.180929,LA130,66.0,2992.337961,0.0,2.205500e+14,2.205500e+11,22055.0,2013.0,2.205500e+10
1,GA006000772,CENTENNIAL PLACE III,12060.0,Fulton,121.0,GA,13,30313.0,33.768702,-84.394727,GA006,91.0,14016.674280,0.0,1.312100e+14,1.312100e+11,13121.0,2013.0,1.312100e+10
2,GA006000770,CENTENNIAL PLACE I,12060.0,Fulton,121.0,GA,13,30313.0,33.768652,-84.392906,GA006,90.0,13985.890300,0.0,1.312100e+14,1.312100e+11,13121.0,2013.0,1.312100e+10
3,DC001001830,SCATTERED SITES,47900.0,District Of Columbia,1.0,DC,11,20001.0,38.906725,-77.014991,DC001,69.0,4377.215324,0.0,1.100100e+14,1.100100e+11,11001.0,2014.0,1.100100e+10
4,CA019000180,SCATTERED SITES,40140.0,San Bernardino,71.0,CA,6,92307.0,34.511681,-117.179101,CA019,84.0,366145.436500,0.0,6.071010e+13,6.071010e+10,6071.0,2013.0,6.071010e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46983,NY041000563,280 Upper Falls Bl,40380.0,Monroe,55.0,NY,36,14605.0,43.171489,-77.608149,NY041,96.0,26554.185960,0.0,3.605500e+14,3.605500e+11,36055.0,2014.0,3.605500e+10
47107,TX003000026,Alamito Place,21340.0,El Paso,141.0,TX,48,79901.0,31.757787,-106.476687,TX003,98.0,113506.833800,0.0,4.814100e+14,4.814100e+11,48141.0,2015.0,4.814100e+10
47167,CO001000073,South Lowell Apart,19740.0,Denver,31.0,CO,8,80123.0,39.631891,-105.034992,CO001,98.0,192480.267900,0.0,8.031006e+13,8.031006e+10,8031.0,2015.0,8.031006e+09
52719,MS060000050,Southview II,15020.0,Lincoln,85.0,MS,28,39601.0,31.571143,-90.432433,MS060,100.0,222.376260,0.0,2.808595e+14,2.808595e+11,28085.0,2019.0,2.808595e+10
53519,OH001000236,Poindexter Phase IIB,18140.0,Franklin,49.0,OH,39,43203.0,39.969279,-82.968560,OH001,92.0,15940.193150,0.0,3.904900e+14,3.904900e+11,39049.0,2020.0,3.904900e+10

In [56]:
df = df[['DEVELOPMENT_ID', 'DEVELOPMENT_NAME', 'COUNTY_NAME', 'STATE_NAME.x', 'ZIPCODE', 'LATITUDE', 'LONGITUDE', 'distance_to_floodzone']]

In [57]:
df

,DEVELOPMENT_ID,DEVELOPMENT_NAME,COUNTY_NAME,STATE_NAME.x,ZIPCODE,LATITUDE,LONGITUDE,distance_to_floodzone
0,LA130000001,Duson Housing Authority,Lafayette,LA,70529.0,30.239980,-92.180929,2992.337961
1,GA006000772,CENTENNIAL PLACE III,Fulton,GA,30313.0,33.768702,-84.394727,14016.674280
2,GA006000770,CENTENNIAL PLACE I,Fulton,GA,30313.0,33.768652,-84.392906,13985.890300
3,DC001001830,SCATTERED SITES,District Of Columbia,DC,20001.0,38.906725,-77.014991,4377.215324
4,CA019000180,SCATTERED SITES,San Bernardino,CA,92307.0,34.511681,-117.179101,366145.436500
...,...,...,...,...,...,...,...,...
46983,NY041000563,280 Upper Falls Bl,Monroe,NY,14605.0,43.171489,-77.608149,26554.185960
47107,TX003000026,Alamito Place,El Paso,TX,79901.0,31.757787,-106.476687,113506.833800
47167,CO001000073,South Lowell Apart,Denver,CO,80123.0,39.631891,-105.034992,192480.267900
52719,MS060000050,Southview II,Lincoln,MS,39601.0,31.571143,-90.432433,222.376260
53519,OH001000236,Poindexter Phase IIB,Franklin,OH,43203.0,39.969279,-82.968560,15940.193150